*{
    box-sizing: border-box;
    margin: 0;
    
    padding: 0%;
}

.container_hide
{
    display: none;
    
    
   
    
    transform: translateY(-90vh);
    
    
}

.list_components {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    border-radius: 2px 2px 45px 45px;
    background-color: rgb(24, 24, 28);
    position: absolute;
    top: 80px;
    z-index: 60;
    right:0;
}

.list_link {
    font-family: sofia-pro, system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    padding-left: 13%;
    font-size: 2.427rem;
    color: rgb(96, 99, 123);
    cursor: pointer;

}

.list_link:hover {
    background: rgba(125, 134, 212, 0.15);
}

.container_show
{
    display: flex;
   color:rgb(255, 255, 255);
  
   padding-left:200px;
   padding-right:200px;
   padding-top:50px;
   padding-bottom: 50px;
    font-weight: 600;
    position: sticky;
    top:0;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    height: 90vh;
    z-index: 1000;
    width:100%;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   background-color: #101820ff;
   
    justify-content: center;
    
    flex-flow: column nowrap;
}

.item{
   
   height:16vh;
   display: flex;
   
   margin-top:10px;
   padding-left:400px;
   align-items: center;
}
span{
    font-family: 'Poppins', sans-serif;
    margin-right:1%;
    font-size: 1.5rem;
}
.item:hover{
    cursor:pointer;
    background-color:rgba(71, 79, 105, 0.609);
}
.nav_container{
    display: flex;
    
    position:sticky;
    top:0;
    padding-top:0px;
    justify-content: space-around;
    background-color:rgb(24,24,28);
    z-index: 10000;
    align-items: center;
   height:80px;
}
.Menu:hover{
    cursor:pointer;
}
.nav_container_left{
    display: flex;
    flex:0.60;
    font-family: 'Poppins', sans-serif;
    height:55px;
    padding-left: 130px;
    padding-top:10px;
    color:rgb(132, 138, 143);
    align-items: center;
}
.nav_container_right{
    display: flex;
    height:55px;
     color:rgb(132, 138, 143);
    font-family: 'Poppins', sans-serif;
    padding-top:10px;
    padding-left:10px;
    font-size:30px;
    justify-content: center;
    flex: 0.40;
    align-items: center;
    
}
.button_nav{
    font-family: 'Poppins', sans-serif;
    width:145px;
    height:55px;
    transition-property: background-color;
    transition-duration: 1ms;
    transition-timing-function: linear;
    color:aliceblue;
    border:none;
    background-color:rgb(103, 181, 209);
    border-radius:18%;
    margin-right:30px;
}
.button_nav:hover{
    cursor:pointer;
    color:black;
    background-color: rgb(67, 224, 217);
}

.Menu-icon {
    display: flex;
    align-items: center;
    object-fit: contain;
}

.Menu{
    margin-left:10px;
    font-weight: 600;
    color: rgb(96, 99, 123);
    font-size: 0.895rem;
    margin-right: 0.5rem;
}


.btn {
    border:1px;
    border-radius: 9999px;
    background-color: #fff;
    opacity:0.9;
    padding: 10px 30px 10px;
    font-size: 13px;
    /* font-family: "montserrat"; */
    cursor: pointer;
    /* margin: 10px; */
    transition: 0.6s;
    position: relative;
    overflow: hidden;
    margin-right: 50px;
}

.btn1 {
    color: rgb(24, 24, 28);
}

.btn1:hover {
    color: #fff;
    /* z-index: 2; */
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.6s;
}

.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn1:hover::before {
    height: 180%;
}